body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}

#hora {
    text-align: center;
}

#imagem {
    text-align: center;
    height: 280px;
}

#foto {
    border-radius: 10px;
    width: 80%;
    box-shadow: 5px 5px 5px rgba(94, 94, 94, 0.603);
}



footer {
    color: white;
    text-align: center;
    font-style: italic;
}
